<p-toolbar *ngIf="!isSidebarVisible" [style]="{ 'padding': '1rem 1rem 1rem 1.5rem', 'width': '100%', 'max-width': '100%' }">
  <ng-template #start>
    <div class="d-flex items-center gap-2 flex-wrap" style="flex-grow: 1;">
      <!-- Íconos y Botones con ruteo -->
      <ng-container *ngFor="let item of menuItems">
        <p-button *ngIf="item.ruta" [routerLink]="item.ruta" routerLinkActive="active" label="{{ item.nombre }}" icon="{{ item.iconRef }}" text plain class="m-1"></p-button>
      </ng-container>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="d-flex items-center gap-2">
      <!-- Botón sin acción -->
      <p-button label="Login" severity="contrast" size="small"></p-button>
      <!-- Avatar sin acción -->
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        [style]="{ width: '32px', height: '32px' }"></p-avatar>
    </div>
  </ng-template>
</p-toolbar>
